.box-add-cart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 8px;
    button{
        border: 0;
        background-color: transparent;
        color: var(--bs-primary);
        font-size: 1.3rem;
        font-weight: 700;
        height: fit-content;
    }
    input{
        font-weight: 700;
        width: 60px;
        text-align: center;
        appearance: none;
        -moz-appearance: textfield;
        appearance: textfield;
        border: 1px solid #ddd;
        &::-webkit-inner-spin-button { 
            -webkit-appearance: none;
        }                
    }
}
button.btn-add-cart{

    background-color: var(--bs-white);
    color: var(--bs-primary);
    border-color: var(--bs-primary);
    margin-top: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
        color: var(--bs-white);
    }
}