section{
    padding: 40px 0;
    .section-title{
        color: var(--bs-primary);
        font-size: $size-3;
        position: relative;
        width: fit-content;
        margin: 0 auto;
        &::after{
            content: '';
            display: block;
            width: 200px;
            height: 2px;
            background-color: var(--bs-primary);
            position: absolute;
            left: -240px;
            bottom: 0;
            margin: auto;
            top: 0;
        }
        &::before{
            content: '';
            display: block;
            width: 200px;
            height: 2px;
            background-color: var(--bs-primary);
            position: absolute;
            right: -240px;
            bottom: 0;
            margin: auto;
            top: 0;
        }
    }
}