header{
    padding: 10px 0;
    margin-top: 24px;
    background-color: var(--bs-primary-rgb);
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    // fazer um efeito blur 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 8px;
    filter: drop-shadow(0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5));

    height: var(--header-height);
    nav{
        ul.navbar{
            justify-content: flex-end;
            gap: 2rem;
            li{
                a{
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    &::after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background-color: #fff;
                        transition: width .3s;
                    }
                    &:not(.cart-widget){
                        &:hover{
                            color: #fff;
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}